<footer>
    <div class="f-info">
        <div class="f-info-social">
            <%- include("./social-icon.ejs") %>
        </div>
        <div>&copy2024 restNest Private Limited</div>
        <div class="f-info-links">
            <a href="#">. Terms .</a>
            <a href="#">Privacy .</a>
        </div>
    </div>
</footer>