<% layout("/layouts/boilerplate") -%>

<body>

      <div class="row">

          <div class="alert alert-danger d-flex align-items-center col-7 offset-2 mt-5" role="alert">
              <div>
                  <%= err.message %>
                </div>
            </div>
        </div>

</body>