<% layout('/layouts/boilerplate') -%>
<body>
    <h1>All Listings</h1>
    <% for(listing of allListing){ %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</body>
