<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>Create New Listing.</h1>
    <form action="/listings" method="post">
        <input type="text" name="title" id="title" placeholder="enter title"><br><br>
        <input type="text" name="description" id="description" placeholder="enter description"><br><br>
        <input type="text" name="image" id="image" placeholder="image url"><br><br>
        <input type="number" name="price" id="price" placeholder="price"><br><br>
        <input type="text" name="location" id="location" placeholder="enter location"><br><br>
        <input type="text" name="country" id="country" placeholder="enter country"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>