* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer  */
footer {
  background-color: #c3bfbf;
}
.f-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.f-info-social {
  transform: scale(0.8);
  margin-left: -10px;
  margin-bottom: -20px;
  cursor: pointer;
}
.f-info-links a {
  text-decoration: none;
  color: black;
}
.f-info-links a:hover {
  text-decoration: underline;
}

/* Card */
.card {
  border: none !important;
  margin-top: 2rem;
}
.card-body {
  padding: 0;
}
.card-img-top {
  border-radius: 15px;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.row a {
  text-decoration: none;
  color: black;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ffffff;
}

/* Show page  */
.btns {
  display: flex;
}
.show-page-card {
  border: none !important;
}
.show-page-card .card-body {
  padding: 0 !important;
  margin-bottom: 1rem;
}
.show-page-card a {
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  .show-page-card {
    width: 22rem;
    margin-left: 5px;
  }
  .show-page-card img {
    height: 330px !important;
    margin-bottom: 15px;
  }
  .index-card img {
    width: 23rem;
  }

  .review-card {
    width: 15rem !important;
  }
  #profile-pic {
    height: 35px !important;
    margin-top: 5px;
  }

  .signup-form {
    margin-left: -110px !important;
    width: 390px !important;
  }
  .eyeBtn {
    margin-right: 15px !important;
  }
  .login-dropdown-lg{
    display: none !important;
  }
  .login-dropdown-sm{
    display: block !important;
  }
  .search-lg{
    display: none !important;
  }
  .alert-flash{
    width: 20rem !important;
    margin-left: 30px !important;
  }
}

/* review form  */

.starability-result {
  transform: scale(0.5);
}

.rating-and-date {
  display: flex;
  align-items: center;
}

.starability-result {
  margin: 0;
  position: relative;
  left: -30px;
  top: -10px;
  margin-right: -50px;
}
.profile-pic {
  width: 30px;
}
.review-date {
  font-size: 13px;
  color: #888;
}

/* Delete listing modal  */
.modal {
  backdrop-filter: blur(3px);
}
