*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex:1;
}
/* Footer  */
footer{
    background-color: #c3bfbf;
}
.f-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.f-info-social i{
    font-size: 22px;
    cursor: pointer;
}
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}

/* Card */
.card{
    border: none;
    margin-top: 2rem;
}
.card-body{
    padding: 0;
}
.card-img-top{
    border-radius: 15px;
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.row a{
    text-decoration: none;
    color: black;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #ffffff;
}

/* Show page  */
.btns{
    display: flex;
}
.show-card{
    border: none !important;
}
.show-card .card-body{
    padding: 0 !important;
    margin-bottom: 1rem;
}
.show-card a{
    text-decoration: none;
    color: black;
}